$body-font: 'Lato', sans-serif;
$navbar-font: 'Roboto', sans-serif;
$logo-font: 'Pacifico', cursive;
$name-font: 'Unna', serif;
$navbar-font-color: #505050;
$initial-box-shadow: 1px 1px 5px #888888;
$button-color: #A9A9A9;
$rectangle-color1: #FFFDF1;
$rectangle-color2: #EEEEEE;
$proj1-color: #53739A;
$proj2-color: #AB5788;
$proj3-color: #529C7C;


* {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $body-font;
  margin: 0;
  height: 100%;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 12px;
}

li a {
  text-decoration: none;
  color: $navbar-font-color;
  padding: 30px;
}

li:hover, li:active {
  opacity: 0.5;
}

nav {
  float: right;
}

a:link, a:visited{
  text-decoration: inherit!important;
  cursor: pointer;
}


.navbar {
  margin: 0;
  padding: 25px 0px 15px 0px;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 100;
  box-shadow: 0 3px 6px -6px #999;
}

.content {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#logo {
  font-family: $logo-font;
  float: left;
  padding: 0px 0px 0px 20px;
  font-size: 20px;
  margin: -5px 0px 0px 0px;  
  color: black;
}

#header {
  text-align: center;
  margin: 0px 0px 250px 0px;
  padding: 150px 0px 0px 0px;
}

#name {
  font-size: 75px;
  margin: 10px;
  font-family: $name-font;
  letter-spacing: 8px;
}

.line {
  height: 1px;
  border-bottom: 2px solid #A9A9A9;
  width: 40%;
  position: relative;
  left: 30%;
  opacity: 0.3;
}

#headline {
  font-size: 32px;
  font-weight: 100;
  font-family: "Unna", serif;
  font-style: italic;
}

#contact-button {
  text-align: center;
  padding: 0px 0px 100px 0px;
}

.button {
  margin: 25px 0px 0px 0px;
  font-size: 14px;
  border: none;
  background-color: $button-color;
  color: white;
  padding: 12px;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: $initial-box-shadow;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  background-color: $button-color;
  transform: translateY(4px);
}

.subtitle {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-shadow: 0px 0px black;
}

.rectangle {
  width: 100%;
  height: 600px;
  margin: -160px 0px 0px 0px;
  padding: 200px 0px 0px 0px;
}

.square {
  width: 30%;
  height: 310px;
  position: relative;
  display: inline-block;
  box-shadow: $initial-box-shadow;
  opacity: 0.7;
  margin: 100px 10px 10px 10px;
}

.square:hover{
  opacity: 1;
}

.square:active {
  opacity: 1;
}

.portfolio-img {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  max-height: inherit;
  box-sizing: border-box;
}

#proj1 {
  background-color: $proj1-color;
}

#proj2 {
  background-color: $proj2-color;
}

#proj3 {
  background-color: $proj3-color;
}

.triangle1 {
  margin: -50px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 1500px solid white;
  border-bottom: 150px solid transparent;
  z-index: 50;
  position: relative;
}

.triangle2 {
  margin: -75px;
  width: 0;
  height: 0;
  border-top: 75px solid transparent;
  border-right: 1500px solid white;
  border-bottom: 200px solid transparent;
  z-index: 50;
  position: relative;
  float: right;
}

#portfolio {
  margin: 100px 0px 0px;
}

.project-title {
  font-weight: 500;
  text-align: center;
  font-size: 32px;
}

.project-description {
  margin: 150px 100px 100px 100px;
}

.projectImages {
  width: 80%;
  height: 85%;
  margin: 35px 0px 0px 0px;
}

#contact-title, #portfolio-title, #about-title {
  margin: -20px;
}

#bg-portfolio {
  background: $rectangle-color1;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

#bg-contact {
  background: $rectangle-color1;
  height: 300px;
  -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}

#bg-about {
  background: $rectangle-color2;
  height: 700px;
}

.about-description {
  margin: 10% 0px 0px 0px;
  color: $navbar-font-color;
  font-weight: 100;
  text-align: center;
  width: 100%;
}

h1 {
  margin:0;
}

h1, h2, h3 {
  font-weight: 100;
}

.contact-icon {
  width: 50px;
  padding: 30px;
  margin: 100px 0px 0px 0px;
  opacity: 0.8;
}

.contact-icon:hover {
  opacity: 0.3;
}

.contact-icon:active {
  opacity: 0.3;
}

.footer {
  text-align: center;
  color: $navbar-font-color;
}

#credit {
  color: $button-color;
  font-size: 8px;
}